@charset "UTF-8";

body {
    font: 11pt Arial, Helvetica, sans-serif; 
    margin: 0; 
	}

h2 {
	margin-top: 0; 
	}	
   
#sidebar { 
	float: left; 
    width: 20%; 
    padding: 5px;
    margin: 10px 10px 20px 5px; 
	}

#content {
    margin: 10px 5px 20px 22%;
    padding: 5px; 
    border: 1px solid #00008B;
	}
   
#menu_body li ul {
	display: none;
	}
#menu_body li:hover ul, #menu_body li.over ul {
	display: block;
	}
 #menu_body {
    background:#000080;
    width: 100%;
    }
#menu_body a {
	display: block;
	width: 100% - 15px;
	height: 36px;
	padding-left: 15px;
	padding-top: 16px;
	} 

#menu_body ul li {
    list-style-type: none;
    border-bottom: 1px solid #fff;
    margin-left: -40px;
    padding-left: 0px;
    } 

#menu_body ul li a {
    color: #fff;
    text-decoration: none;
	font-size: 115%;
	font-family: Georgia;
	letter-spacing: 3px;
    } 

#menu_body ul li a:hover {
    color: #fff;
    text-decoration: none;
	background:#4169E1;
    } 

#menu_body ul li ul li {
    border: 0;
    list-style-type: none;
    color: #fff;
    list-style-position: inside;
	background:#0000CD;
    } 

#menu_body ul li ul{
    border-top: 1px solid #fff;
    margin-left: -10px;
    padding-left: 50px;
    }
    
	.confirm_button {
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
	}

.confirm_button:hover {
  	opacity: 0.8;
	}

.confirm_button:disabled {
  	opacity: 0.8;
  	background-color: #808080;
	}

input[type=text], input[type=password], 
input[type=number], textarea, select,
input[type=date], input[type=time], input[type=month]
 	{
  	width: 50%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
	}

.dropbtn {
    text-decoration: none;
	display: inline-block;
	padding: 20px 30px;
	margin: 0px 0px;
	position: relative;
	color: white;
	border: 0px solid rgba(220, 220, 220, .4);
	background: none;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	}

.dropbtn:before { 
	content:''; 
	position: absolute; 
	top: 0px; 
	left: 0px;
	width: 100%; 
	height: 0px; 
	background: rgba(240, 255, 255,0.4); 
	transition: all 0.8s ease-out; 
	}
		
.dropbtn:hover:before {
	height: 100%;
	}

.dropdown {
    position: relative;
    display: inline-block;
	}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
	}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.troubleSpace { 
    padding: 20px; 
    border: 2px solid #8B0000;
    width: 96%;
   }
   
.notifySpace { 
    padding: 20px;
    border: 2px solid #006400; 
    width: 96%;
   }
   
.carefulSpace { 
    padding: 20px; 
    border: 2px solid #DAA520;
    width: 96%;
	}
   
.leftimg {
    float:left; 
    margin: 7px 7px 7px 0;
	}

.table_sort table {
    border-collapse: collapse;
}

.table_sort {
  	font-family: Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
	}

.table_sort td, #table th {
  	border: 1px solid #ddd;
  	padding: 8px;
	}

.table_sort tr {
	text-align: center;
}

.table_sort tr:nth-child(even){background-color: #f2f2f2;}

.table_sort th {
 	padding-top: 12px;
 	padding-bottom: 12px;
  	text-align: center;
  	background-color: #00008B;
  	color: white;
	}
	
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
	}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
	}

th.sorted[data-order="-1"]::after {
	content: "▼"
	}

th.sorted[data-order="1"]::after {
	content: "▲"
	}