@charset "UTF-8";

h1 {
    font-size: 36px; 
    margin: 0;
   	font-family: arial;
   }

.space { 
    padding: 20px; 
    background: #E0FFFF; 
    border: 2px solid #778899; 
    width: 400px;
   }
   
.buyTicketsButton {
   background-color: #4169E1; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
   
    width: 100%;
    display: block;
    }
    
.buyTicketsButton:hover {
	    background-color: #20B2AA;
	}
	
.textForScreenMark {
	background-color: #800000; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 3px;
    width: 95%;
    display: block;
    opacity: 0.4;
    cursor: not-allowed;
	}
	
.troubleSpace { 
    padding: 20px; 
    border: 2px solid #8B0000;
    width: 96%;
   }