@charset "UTF-8";

header { 
   	display: flex; 
	justify-content: space-between;
	align-items: center;
    background: linear-gradient(to top, #0000CD 0%, #191970 100%);
  	height: 100%;	 
    padding: 0px; 
    min-width: 1024px;    
   }
   
.header-button {
	  text-decoration: none;
	  display: inline-block;
	  padding: 20px 30px;
	  margin: 0px 0px;
	  position: relative;
	  color: white;
	  border: 0px solid rgba(220, 220, 220, .4);
	  background: none;
	  font-weight: 300;
	  font-family: 'Montserrat', sans-serif;
	  text-transform: uppercase;
	  letter-spacing: 5px;
	}


.header-button:before { 
		content:''; 
		position: absolute; 
		top: 0px; 
		left: 0px;
		width: 100%; 
		height: 0px; 
		background: rgba(240, 255, 255,0.4); 
		
		transition: all 0.8s ease-out; 
	}
	
.header-button:hover:before {
		height: 100%;
	}


h1 {
	font-size: 36px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #000080; /* Цвет текста */
    font-family: CURSIVE;
   }
   
body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
   }
   
h2 {
    margin-top: 0; /* Убираем отступ сверху */
   }
   
.dropbtn {
    text-decoration: none;
	display: inline-block;
	padding: 20px 30px;
	margin: 0px 0px;
	position: relative;
	color: white;
	border: 0px solid rgba(220, 220, 220, .4);
	background: none;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.dropbtn:before { 
	content:''; 
	position: absolute; 
	top: 0px; 
	left: 0px;
	width: 100%; 
	height: 0px; 
	background: rgba(240, 255, 255,0.4); 	
	transition: all 0.8s ease-out; 
	}
	
.dropbtn:hover:before {
	height: 100%;
	}

.dropdown {
    position: relative;
    display: inline-block;
	}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
	}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}
   
   