@charset "UTF-8";

#centerLayer {
    position: absolute;  
    width: 600px;  
    height: auto;  
    max-height: 700px;
    left: 50%;  
    top: 40%;  
    margin-left: -360px;  
    margin-top: -250px;	 
    background: #EEE8AA;  
    border: solid 1px black;  
    padding: 10px;  
    overflow: auto;
   }
   
.ticketsWindow {
   	position: relative;  
    width: 440px;  
    height: auto;
    max-height: 140px;  
    left: 50%;  
    margin-left: -220px;  
    background: #FAFAD2;  
    border: solid 1px black;  
    overflow: auto;
    letter-spacing: 3px;
   }

 
input[type=text], input[type=password], input[type=email], input[type=tel] {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
	}

 
button {
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
	}

 
button:hover {
  	opacity: 0.8;
	}

 
.cancelbtn {
  	width: auto;
  	padding: 10px 18px;
  	background-color: #f44336;
	}

.cancelbtn:hover {
  	opacity: 0.8;
	}

 
.container {
  	padding: 16px;
	}

 
span.psw {
  	float: right;
  	padding-top: 16px;
	}

 
@media screen and (max-width: 300px) {
	span.psw {
	    display: block;
	    float: none;
	  	}
	.cancelbtn {
	    width: 100%;
	  	}
}