@charset "UTF-8";

#sidebar { 
    float: left; 
    width: 24%; 
    padding: 5px; 
    margin: 10px 10px 20px 5px; 
   }
#content { 
    margin: 10px 5px 20px 25%; 
    padding: 5px; 
    border: 1px solid #333; 
    min-width: 700px;
   }
#footer { 
    background: #333; 
    padding: 5px; 
    color: #fff; 
    clear: left; 
    position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	height: 25px;
   }
   
.btn-group .button {
    background-color: #4169E1; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    letter-spacing: 3px;
   
    width: 100%;
    display: block;
	}

.btn-group .button:not(:last-child) {
    border-bottom: none; 
	}

.btn-group .button:hover {
	    background-color: #20B2AA;
	}
	
.disabledbutton {
	background-color: #20B2AA; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    letter-spacing: 3px;
    width: 100%;
    display: block;
    opacity: 0.4;
    cursor: not-allowed;
	}
	
a, u {
    text-decoration: none;
	}
	
input[type=text], input[type=password], input[type=email], input[type=tel] {
  	width: 700px;
 	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
	}

.confirm_button {
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 700px;;
	}


.confirm_button:hover {
  	opacity: 0.8;
	}

.confirm_button:disabled {
  	opacity: 0.8;
  	background-color: #808080;
	}	

.ticketForm {
    border: 1px solid #00008B;
    color: black;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0px;
    width: 28%;
    cursor: not-allowed;
    margin: 0 3% 10px 0;
	}
	
.oldTicket {
	background-color: #FFA07A; 
	}
.todayTicket {
	background-color: #98FB98; 
	}
.futureTicket {
	background-color: #00CED1; 
	}

.troubleSpace { 
    padding: 20px; 
    border: 2px solid #8B0000; 
    width: 96%;
   }
   
.notifySpace { 
    padding: 20px; 
    border: 2px solid #006400; 
    width: 96%;
   }