@charset "UTF-8";

#centerLayer {
    position: absolute; 
    width: 480px; 
    height: auto; 
    left: 50%; 
    top: 50%; 
    margin-left: -300px; 
    margin-top: -300px;	
    background: #EEE8AA; 
    border: solid 1px black; 
    padding: 10px; 
   }
   
.ticketsWindow {
   	position: relative; 
    width: 440px; 
    height: auto;
    max-height: 140px; 
    left: 50%; 
    margin-left: -220px; 
    background: #FAFAD2; 
    border: solid 1px black; 
    overflow: auto;
    letter-spacing: 3px;
   }
   
.button {
  	background-color: #4CAF50;
 	color: white;
 	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
	}


.button:hover {
  	opacity: 0.8;
	}


.cancelbtn {
  	color: black;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
 	cursor: pointer;
  	width: 100%;
  	background-color: #f44336;
	}

.cancelbtn:hover {
  	opacity: 0.8;
	}