@charset "UTF-8";

#sidebar { 
    float: left; 
    width: 30%; 
    min-width: 400px;
    padding: 5px; 
    margin: 10px 10px 20px 5px; 
   }
#content { 
    margin-left: clamp(430px, 32%, 32%);
    padding: 5px; 
   }
#footer { 
    background: #333; 
    padding: 5px; 
    color: #fff; 
    clear: left; 
   }
   
.button2 {
    background-color: #4169E1; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    margin: 0 3% 10px 0;
    font-size: 18px;
    letter-spacing: 3px;
    width: 30%;
	}
	
.button2:hover {
	    background-color: #20B2AA;
	}
	
.leftimg {
    float:left; 
    margin: 7px 25px 15px 10px; 
   }