@charset "UTF-8";

#sidebar { 
    float: left; 
    border: 1px solid #333; 
    width: 18%; 
    padding: 5px; 
    margin: 10px 10px 20px 5px; 
    background: #FFEFD5;
    position: fixed;
   }

#content { 
    margin: 10px 5px 20px 19%; 
    padding: 5px; 
    border: 1px solid #000080; 
    padding-bottom: 30px;
    height: 80vh;
    min-height: 82vh;
    overflow: auto; 
    
   }

footer { 
    background: #333; 
    padding: 0px; 
    color: #fff; 
  	left: 0;
  	bottom: 0;
  	width: 100%;
    clear: both;
    position: relative;
    height: 3%;
    margin-top: -25px; 
  	 

   }

.leftimg {
    float:left; 
    margin: 7px 25px 15px 10px; 
   }
   
a, u {
    text-decoration: none;
	}
   
.pagination_button {
    background-color: #0000FF; 
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
	}
	
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #0000FF;
	}
	
.button1disabled {
	background-color: #00BFFF; 
    color: black; 
    border: 2px solid #4169E1;
    opacity: 0.6;
    cursor: default;
	}
	
.button1:hover {
	    background-color: #0000FF;
	    color: white;
	}
   
.btn-group .button {
    background-color: #4169E1; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
   
    width: 100%;
    display: block;
	}

.btn-group .button:not(:last-child) {
    border-bottom: none; 
	}

.btn-group .button:hover {
	    background-color: #20B2AA;
	}
	
.disabledbutton {
	background-color: #20B2AA; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 3px;
    width: 100%;
    display: block;
    opacity: 0.4;
    cursor: not-allowed;
	}
	
.button2 {
    background-color: #4169E1; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
    width: 250px;
    display: block;
	}
	
.button2:hover {
	    background-color: #20B2AA;
	}
	
.button3 {
    background-color: #FF0000; 
    border: 1px solid #00008B;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
    width: 250px;
    display: block;
	}
	
.button3:hover {
	    background-color: #FFA07A;
	}